In [34]:
import matplotlib.pyplot as plt
import pandas as pd

In [73]:


caminho = r"C:\Users\anton\Downloads\POP2020_20220905(Municípios).csv"

# Testar leitura com encoding latino
df = pd.read_csv(caminho, encoding="latin1", sep=";", skiprows= 1)

df.head()

   UF  COD. UF  COD. MUNIC      NOME DO MUNICÍPIO  POPULAÇÃO ESTIMADA
0  RO     11.0        15.0  Alta Floresta D'Oeste               22.728
1  RO     11.0        23.0              Ariquemes              109.523
2  RO     11.0        31.0                 Cabixi                5.188
3  RO     11.0        49.0                 Cacoal               85.893
4  RO     11.0        56.0             Cerejeiras               16.204

## população  de algoa nova usando intervalo de 2000

In [74]:
# Criar uma cópia do df_filtrada para evitar o warning
df_pb = df[df['UF'] == 'PB'].copy()

# Remover espaços do nome da coluna
df_pb.rename(columns=lambda x: x.strip(), inplace=True)

# Converter a coluna POPULAÇÃO ESTIMADA para inteiro
df_pb['POPULAÇÃO ESTIMADA'] = df_pb['POPULAÇÃO ESTIMADA'].str.replace('.', '', regex=False)  # se houver ponto como separador de milhar
df_pb['POPULAÇÃO ESTIMADA'] = df_pb['POPULAÇÃO ESTIMADA'].astype(int)

# Filtrar população entre 20.000 e 22.000
df_pop_filtrada = df_pb[(df_pb['POPULAÇÃO ESTIMADA'] >= 20000) & 
                        (df_pb['POPULAÇÃO ESTIMADA'] <= 22000)]

# Mostrar resultado
df_pop_filtrada[['NOME DO MUNICÍPIO', 'POPULAÇÃO ESTIMADA']]

         NOME DO MUNICÍPIO  POPULAÇÃO ESTIMADA
1245           Alagoa Nova               20921
1255               Araruna               20463
1262            Bananeiras               21269
1281               Caaporã               21955
1309                 Cuité               20334
1355                  Mari               21866
1430  São José de Piranhas               20329

In [75]:
import pandas as pd

# Criar quartis
df_pb['quartil_pop'] = pd.qcut(df_pb['POPULAÇÃO ESTIMADA'], 4, labels=['Q1','Q2','Q3','Q4'])

# Mostrar resultado
df_pb[['NOME DO MUNICÍPIO', 'POPULAÇÃO ESTIMADA', 'quartil_pop']]

     NOME DO MUNICÍPIO  POPULAÇÃO ESTIMADA quartil_pop
1242       Água Branca               10306          Q3
1243            Aguiar                5630          Q2
1244     Alagoa Grande               28439          Q4
1245       Alagoa Nova               20921          Q4
1246         Alagoinha               14560          Q3
...                ...                 ...         ...
1460           Uiraúna               15300          Q3
1461         Umbuzeiro                9911          Q3
1462            Várzea                2841          Q1
1463       Vieirópolis                5372          Q2
1464            Zabelê                2255          Q1

[223 rows x 3 columns]

In [76]:
# Criar uma cópia do df_filtrada para evitar o warning
df_pb = df[df['UF'] == 'PB'].copy()

# Remover espaços do nome da coluna
df_pb.rename(columns=lambda x: x.strip(), inplace=True)

# Converter a coluna POPULAÇÃO ESTIMADA para inteiro
df_pb['POPULAÇÃO ESTIMADA'] = df_pb['POPULAÇÃO ESTIMADA'].str.replace('.', '', regex=False)  # se houver ponto como separador de milhar
df_pb['POPULAÇÃO ESTIMADA'] = df_pb['POPULAÇÃO ESTIMADA'].astype(int)

# Filtrar população entre 20.000 e 22.000
df_pop_filtrada = df_pb[(df_pb['POPULAÇÃO ESTIMADA'] >= 28000) & 
                        (df_pb['POPULAÇÃO ESTIMADA'] <= 32000)]

# Mostrar resultado
df_pop_filtrada[['NOME DO MUNICÍPIO', 'POPULAÇÃO ESTIMADA']]

     NOME DO MUNICÍPIO  POPULAÇÃO ESTIMADA
1244     Alagoa Grande               28439
1299   Catolé do Rocha               30684
1381    Pedras de Fogo               28533

In [78]:
import pandas as pd

caminho = r"C:\Users\anton\Downloads\POP2020_20220905(Municípios).csv"

# Testar leitura com encoding latino
df = pd.read_csv(caminho, encoding="latin1", sep=";", skiprows= 1)



df = df.rename(columns={"NOME DO MUNICÍPIO": "ds_mun"})

df_filtrada = df[df['UF'] == 'PB']

# Lista dos municípios desejados
municipios_pb = [
    "Alagoa Nova",
    "Bananeiras",
    "Baía da Traição",
    "Cabaceiras",
    "Campina Grande",
    "Caturité",
    "Guarabira",
    "Ingá",
    "Itatuba",
    "João Pessoa",
    "Lagoa Seca",
    "Mogeiro",
    "Queimadas",
    "Santa Rita",
    "Serra Redonda"
]

# Filtrar DataFrame
df_filtradoo = df_filtrada [df['ds_mun'].isin(municipios_pb)]

(df_filtradoo)

C:\Users\anton\AppData\Local\Temp\ipykernel_21040\4214076041.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_filtradoo = df_filtrada [df['ds_mun'].isin(municipios_pb)]

      UF  COD. UF  COD. MUNIC           ds_mun  POPULAÇÃO ESTIMADA
1245  PB     25.0       403.0      Alagoa Nova               20.921
1261  PB     25.0      1401.0  Baía da Traição                9.096
1262  PB     25.0      1500.0       Bananeiras               21.269
1282  PB     25.0      3100.0       Cabaceiras                5.661
1293  PB     25.0      4009.0   Campina Grande              411.807
1300  PB     25.0      4355.0         Caturité                4.875
1325  PB     25.0      6301.0        Guarabira               59.115
1330  PB     25.0      6806.0             Ingá               18.144
1334  PB     25.0      7200.0          Itatuba               11.016
1337  PB     25.0      7507.0      João Pessoa              817.511
1345  PB     25.0      8307.0       Lagoa Seca               27.617
1362  PB     25.0      9404.0          Mogeiro               13.261
1396  PB     25.0     12507.0        Queimadas               44.179
1416  PB     25.0     13703.0       Santa Rita              137.349
1445  PB     25.0     15807.0    Serra Redonda                7.021

In [79]:
tabela_ia = pd.read_excel(r'C:\Users\anton\Desktop\data_analise_dados\resultado_final_PB.xlsx')

tabela_ia

,ds_formatada,sg_uf,nbeneficiados_2020,nbeneficiados_2021,nbeneficiados_2022,nbeneficiados_2023,nbeneficiados_2024,nbeneficiados_2025,ninstituicoes_2020,ninstituicoes_2021,...,ideb_2005,ideb_2007,ideb_2009,ideb_2011,ideb_2013,ideb_2015,ideb_2017,ideb_2019,ideb_2021,ideb_2023
0,ALAGOANOVA,PB,5096,6606,6542,6698,7032,5564,72,82,...,2.2,3.0,3.5,3.3,3.9,4.2,4.4,4.6,4.8,5.1
1,BANANEIRAS,PB,518,548,496,536,470,448,2,2,...,2.4,2.4,3.7,4.1,4.4,4.9,4.7,4.9,4.9,4.7
2,BAÍADATRAIÇÃO,PB,0,0,0,0,0,3150,0,0,...,3.0,3.4,3.5,4.6,4.3,4.5,3.8,4.1,NaN,NaN
3,CABACEIRAS,PB,0,0,1610,2700,3072,2998,0,0,...,2.6,3.4,4.9,5.4,5.6,6.0,6.4,6.1,6.6,7.7
4,CAMPINAGRANDE,PB,59226,65886,65429,100488,89810,13247,336,337,...,3.1,3.3,3.8,4.2,4.3,4.7,5.2,5.5,5.2,5.4
5,CATURITÉ,PB,0,2006,1948,1966,1750,1841,0,12,...,3.2,3.0,4.1,3.7,3.5,4.1,4.8,4.4,NaN,5.3
6,GUARABIRA,PB,10574,10510,8446,11382,10900,10998,68,70,...,2.7,3.3,3.4,3.6,4.0,4.4,4.6,4.5,4.8,5.1
7,INGÁ,PB,3676,5784,6326,6094,7029,5092,46,52,...,2.2,3.8,3.1,3.2,3.5,3.8,3.7,4.7,4.5,5.0
8,ITATUBA,PB,0,0,3590,3196,3248,3190,0,0,...,2.6,2.5,2.9,3.0,3.6,3.9,3.9,4.5,4.4,4.5
9,JOÃOPESSOA,PB,0,0,42286,95570,120970,123268,0,0,...,2.9,3.5,4.0,4.6,4.5,4.6,4.9,5.4,5.0,5.2
10,LAGOASECA,PB,0,9272,8068,8488,7648,0,0,58,...,2.6,3.7,4.4,4.3,4.6,4.9,4.7,5.3,4.9,5.4
11,MOGEIRO,PB,5088,5989,5146,6376,7511,4926,50,53,...,3.1,3.1,3.4,3.5,3.8,3.8,4.3,4.7,4.6,4.9
12,QUEIMADAS,PB,0,0,15328,14626,18238,16088,0,0,...,2.9,2.9,3.6,4.3,4.2,4.8,5.4,5.7,6.1,7.9
13,SANTARITA,PB,24512,22932,24722,32418,26054,23286,86,84,...,2.3,2.6,3.1,3.5,3.2,3.6,3.8,3.9,3.8,4.1
14,SERRAREDONDA,PB,1356,1990,1502,1718,1981,2006,26,38,...,2.2,2.8,3.1,3.0,4.0,4.4,3.6,4.1,4.4,4.5

In [80]:
tabela_final = pd.merge(df_filtradoo, tabela_ia, on="ds_mun", how="left")

tabela_final

,UF,COD. UF,COD. MUNIC,ds_mun,POPULAÇÃO ESTIMADA,ds_formatada,sg_uf,nbeneficiados_2020,nbeneficiados_2021,nbeneficiados_2022,...,ideb_2005,ideb_2007,ideb_2009,ideb_2011,ideb_2013,ideb_2015,ideb_2017,ideb_2019,ideb_2021,ideb_2023
0,PB,25.0,403.0,Alagoa Nova,20.921,ALAGOANOVA,PB,5096,6606,6542,...,2.2,3.0,3.5,3.3,3.9,4.2,4.4,4.6,4.8,5.1
1,PB,25.0,1401.0,Baía da Traição,9.096,BAÍADATRAIÇÃO,PB,0,0,0,...,3.0,3.4,3.5,4.6,4.3,4.5,3.8,4.1,NaN,NaN
2,PB,25.0,1500.0,Bananeiras,21.269,BANANEIRAS,PB,518,548,496,...,2.4,2.4,3.7,4.1,4.4,4.9,4.7,4.9,4.9,4.7
3,PB,25.0,3100.0,Cabaceiras,5.661,CABACEIRAS,PB,0,0,1610,...,2.6,3.4,4.9,5.4,5.6,6.0,6.4,6.1,6.6,7.7
4,PB,25.0,4009.0,Campina Grande,411.807,CAMPINAGRANDE,PB,59226,65886,65429,...,3.1,3.3,3.8,4.2,4.3,4.7,5.2,5.5,5.2,5.4
5,PB,25.0,4355.0,Caturité,4.875,CATURITÉ,PB,0,2006,1948,...,3.2,3.0,4.1,3.7,3.5,4.1,4.8,4.4,NaN,5.3
6,PB,25.0,6301.0,Guarabira,59.115,GUARABIRA,PB,10574,10510,8446,...,2.7,3.3,3.4,3.6,4.0,4.4,4.6,4.5,4.8,5.1
7,PB,25.0,6806.0,Ingá,18.144,INGÁ,PB,3676,5784,6326,...,2.2,3.8,3.1,3.2,3.5,3.8,3.7,4.7,4.5,5.0
8,PB,25.0,7200.0,Itatuba,11.016,ITATUBA,PB,0,0,3590,...,2.6,2.5,2.9,3.0,3.6,3.9,3.9,4.5,4.4,4.5
9,PB,25.0,7507.0,João Pessoa,817.511,JOÃOPESSOA,PB,0,0,42286,...,2.9,3.5,4.0,4.6,4.5,4.6,4.9,5.4,5.0,5.2
10,PB,25.0,8307.0,Lagoa Seca,27.617,LAGOASECA,PB,0,9272,8068,...,2.6,3.7,4.4,4.3,4.6,4.9,4.7,5.3,4.9,5.4
11,PB,25.0,9404.0,Mogeiro,13.261,MOGEIRO,PB,5088,5989,5146,...,3.1,3.1,3.4,3.5,3.8,3.8,4.3,4.7,4.6,4.9
12,PB,25.0,12507.0,Queimadas,44.179,QUEIMADAS,PB,0,0,15328,...,2.9,2.9,3.6,4.3,4.2,4.8,5.4,5.7,6.1,7.9
13,PB,25.0,13703.0,Santa Rita,137.349,SANTARITA,PB,24512,22932,24722,...,2.3,2.6,3.1,3.5,3.2,3.6,3.8,3.9,3.8,4.1
14,PB,25.0,15807.0,Serra Redonda,7.021,SERRAREDONDA,PB,1356,1990,1502,...,2.2,2.8,3.1,3.0,4.0,4.4,3.6,4.1,4.4,4.5

In [81]:
# Salvar tabela_final em Excel
tabela_final.to_excel(r'C:\Users\anton\Desktop\tabela_final.xlsx', index=False)

print("Arquivo salvo com sucesso!")

Arquivo salvo com sucesso!